<div class="container-fluid paddingTP30" ng-init="userList()">
    <tab-menu tab-menu-list="subTabMenus"></tab-menu>
    <div class="paddingTB20 clearfix">
        <a ui-sref="base.user" class="btn btn-info pull-right" role="button">Add user</a>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <table class="table table-striped">
                <thead>
                    <th>Employee Name </th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Education</th>
                </thead>
                <tbody>
                    <tr ng-repeat="singleEmp in getEmp" ui-sref="base.user({Id: {{singleEmp.id}} })" role="button">
                        <td>{{singleEmp.first_name + ' ' + singleEmp.last_name}}</td>
                        <td>{{singleEmp.gender}}</td>
                        <td>{{singleEmp.address}}</td>
                        <td>{{singleEmp.email}}</td>
                        <td>{{singleEmp.education}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Tab panes -->
